@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.bg-white{
    background-color: #fff;
}
.bg-cover {
    background-image: url('rename.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    max-height: 800px;
}

.bg-cover h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.105em;
    font-size: 48px;
    margin-top: 50px;
}

#cover{
    max-height: max-content;
}

.item-category{
    height: 180px;
    background-color: #DDE3E6;
    border-radius: 10px;
}

.category img{
    width: 50px;
}

.item-restaurant .card{
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #F4F4F4;
}

.footer{
    background-color: #DDE3E6;
    height: 250px;
}

.footer img{
    width: 10vh;
}